.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    /* width: 100%;    
    margin: 8px 0;  
    padding: 12px 20px;   
    display: inline-block;    */
    border: 2px solid black;   
    /* box-sizing: border-box;    */
}