{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'appoj/stylesheet/display.css' %}">

<form id = "logout_form" action="/appoj/logout">
        <div class = "logout">
            <input type="submit" class = "logbutton" value="Logout">
        </div>
</form>

<div>
    <form id = "submit_form" action="/appoj/problems/{{question.problem_id}}/" method="POST">
        {% csrf_token %}
        <h1>{{question.name}}</h1>
        <div class = "submission">
            <p class = "boxes">{{question.description|linebreaksbr}}</p>
            <br>
            <p class = "boxes">{{question.sample_input|linebreaksbr}}</p>
            <p class = "boxes">{{question.sample_output|linebreaksbr}}</p>
            <br>
            <p class = "boxes">{{question.samples|linebreaksbr}}</p>
            <br>
            <textarea id="problem_sol"name="problem_sol"rows="20"cols="70"></textarea>
            <br>
            <input id = "send_sol" type="submit" class = "submit" value="Submit">
        </div>
    </form>
</div>