{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'appoj/stylesheet/problem_style.css' %}">
<body>

    <form id = "logout_form" action="/appoj/logout">
        <div class = "logout">
            <input type="submit" class = "logbutton" value="Logout">
        </div>
    </form>

<div class = "prob" >
    {% if context %}
        <ul style= "list-style-type:none;">
            <li class = "head">Problem</li>
            {% for key, val in context.items %}
                <li><a href="/appoj/problems/{{ key }}/">{{val.0}}</a></li>
            {% endfor %}
        </ul>
        <ul style= "list-style-type:none;">
            <li class = "head">Difficulty</li>
            {% for key, val in context.items %}
                <li>{{val.1}}</li>
            {% endfor %}
        </ul>
        <ul style= "list-style-type:none;">
            <li class = "head">Solve Status</li>
            {% for key, val in context.items %}
                <li>{{val.2}}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>



</body>