{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'appoj/stylesheet/style.css' %}">

<form action = "/appoj/register" method="POST">
    {% csrf_token %}
    <div class="container">   
        <label>Username : </label>   
        <input type="text" placeholder="Enter Username" name="username" required>  
        <label>Email : </label>   
        <input type="email" placeholder="Enter Email" name="email" required>  
        <label>Password : </label>   
        <input type="password" placeholder="Enter Password" name="password" required>  
        <button type="submit">Register</button>  
    </div>
</form>