{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'appoj/stylesheet/submission.css' %}">

<body>
    <div id = "sub_table">
        <table>
            {% for x in question %}
                <tr>
                    <td>
                        {{x.problem_id}}
                    </td>
                    <td>
                        {{x.vrt}}
                    </td>
                    <td>
                        {{x.timestamp}}
                    </td>
                </tr>
                <br>
            {% endfor %}
        </table>
    </div>
</body>